<!DOCTYPE html>
<html ng-app="essence">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Aplicativo para verificar perfis e comportamentos profissionais">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Application Name -->
	<title>Essence</title>
	<!-- Application Icon -->
	<!-- <link rel="shortcut icon" href="img/cgctec.ico"> -->
	<!-- Styles -->
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="lib/angular-material/angular-material.css">
	<link rel="stylesheet" href="lib/Font-Awesome/web-fonts-with-css/css/fontawesome-all.css">
	<link rel="stylesheet" href="assets/styles/app.css">
	<link rel="stylesheet" href="assets/styles/ctMenu.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<!-- <link rel="stylesheet" href="assets/styles/docs.css"> -->
	<link rel="stylesheet" href="assets/styles/material.css">
	<style>
		body {
			    overflow: hidden;
			    max-width: 100%;
			    max-height: 100%;
		}
	</style>

</head>
<body ng-controller="appCtrl">

	<!-- Section Login --> 
	<section ng-if="showLogin">

		<div ng-include="'../module/app/view/index/loginSection.html'"></div>

	</section>

	<!-- Section Administrador --> 
	<section ng-if="showAdmin">

		<div ng-include="'../module/app/view/index/adminSection.html'"></div>

	</section>

	<!-- Section Visitante -->
	<section ng-if="showVisitor">

		<div ng-include="'../module/app/view/index/visitorSection.html'"></div>

	</section>

	<md-content md-scroll-y layout="column" flex>
		<md-button class="md-fab md-fab-bottom-right docs-scroll-fab"
			         docs-scroll-class="scrolling"
			         ng-click="scrollTop()"
			         aria-label="Back to Top">
			<md-tooltip md-direction="top">Back to Top</md-tooltip>
			<md-icon md-svg-src="assets/img/svg/solid/arrow-up.svg"></md-icon>
		</md-button>
	</md-content>

	<div ng-include="'../module/app/view/index/footerView.html'"></div>

	<!-- Scripts -->
	<!-- Angular -->
	<script src="lib/angular/angular.js" type="text/javascript"></script>
	<script src="lib/angular-route/angular-route.js" type="text/javascript"></script>
	<script src="lib/angular-aria/angular-aria.js" type="text/javascript"></script>
	<script src="lib/angular-animate/angular-animate.js" type="text/javascript"></script>
	<script src="lib/angular-messages/angular-messages.js" type="text/javascript"></script>
	<script src="lib/angular-material/angular-material.js" type="text/javascript"></script>
	<!-- Externals Libraries -->
	<script src="lib/jquery/dist/jquery.js" type="text/javascript"></script>
	<script src="lib/cgctec/ctMenuSideNav.js" type="text/javascript"></script>

	<!-- Application -->
	<script src="module/app/app.js" type="text/javascript"></script>
	<script src="assets/scripts/angular-locale_pt-br.js" type="text/javascript"></script>
	<script src="assets/scripts/docs.min.js" type="text/javascript"></script>
	<script src="assets/scripts/docs-demo-scripts.js" type="text/javascript"></script>
	<script src="assets/scripts/animateSlide.js" type="text/javascript"></script>
	<!-- Controllers -->
	<script src="module/app/src/controllers/appCtrl.js" type="text/javascript"></script>
	<script src="module/app/src/controllers/loginCtrl.js" type="text/javascript"></script>
	<script src="module/app/src/controllers/registerCtrl.js" type="text/javascript"></script>
	<script src="module/app/src/controllers/forgotCtrl.js" type="text/javascript"></script>
	<script src="module/app/src/controllers/listUsersCtrl.js" type="text/javascript"></script>
	<script src="module/app/src/controllers/addUserCtrl.js" type="text/javascript"></script>
	<script src="module/app/src/controllers/updateUserCtrl.js" type="text/javascript"></script>
	<script src="module/app/src/controllers/deleteUserCtrl.js" type="text/javascript"></script>
	<script src="module/app/src/controllers/reloadUpdateUserCtrl.js" type="text/javascript"></script>
	<script src="module/app/src/controllers/adminUserCtrl.js" type="text/javascript"></script>
	<script src="module/app/src/controllers/visitorUserCtrl.js" type="text/javascript"></script>
	<!-- Services -->
	<script src="module/app/src/services/userApiService.js" type="text/javascript"></script>
	<script src="module/app/src/services/formatDate.js" type="text/javascript"></script>
	<!-- Configs -->
	<script src="module/app/config/routeConfig.js" type="text/javascript"></script>
	<script src="module/app/config/iconConfig.js" type="text/javascript"></script>
	<!-- <script src="module/app/config/themeConfig.js" type="text/javascript"></script> -->
	<script src="module/app/config/locationConfig.js" type="text/javascript"></script>
	<script src="module/app/config/rejectConfig.js" type="text/javascript"></script>
	<!-- Values -->
	<script src="module/app/src/value/configValue.js" type="text/javascript"></script>
	<!-- Diretives -->
	<script src="module/app/src/directives/confirmPasswordDirective.js" type="text/javascript"></script>

</body>
</html>
