<div class="fixed-bottom footer">
	Desenvolvido por <a href="http://www.cgctec.com.br" target="_blank" class="footer-color">CGC Tecnologia Ltda</a>.&nbsp;&copy;&nbsp;2017&nbsp;-&nbsp;&nbsp;{{ano | date:'yyyy'}}.&nbsp;
	Código licenciado sob o <a href="https://opensource.org/licenses/MIT" target="_blank" class="footer-color">MIT License</a>.
</div>

<!-- 

	  <nav class="fixed-bottom text-center footer">

		  <md-content md-scroll-y layout="row" flex class="bg-transparent footer">

		    <div layout="row" flex="noshrink" layout-align="center center">
		      <div id="license-footer" flex>
		        Desenvolvido por <a ng-href="http:\\www.cgctec.com.br" target="_blank" class="md-secondary">CGC Tecnologia Ltda</a>.&nbsp;&copy;&nbsp;2017&nbsp;-&nbsp;&nbsp;{{ano | date:'yyyy'}}.&nbsp;
		        Código licenciado sob o <a ng-href=""  class="md-accent">MIT License</a>.
		      </div>
		    </div>

		  </md-content>
	  </nav> -->