		<div ng-controller="loginCtrl" layout="column" ng-cloak>

		  <md-toolbar class="bg-secondary">
		  	  <div class="md-toolbar-tools">
		  	    <md-button class="md-icon-button" aria-label="Settings">
		  	      <md-icon md-svg-icon="logo2"></md-icon>
		  	    </md-button>

		  	    <h2 flex md-truncate>ESSENCE</h2>

		  	    <md-button aria-label="Login" ng-click="showLoginDialog()">
		  	      <span>Login&nbsp;<md-icon md-svg-icon="assets/img/svg/solid/sign-in-alt.svg" class="s12"></md-icon></span>
		  	    </md-button>
		  	  </div>
		  </md-toolbar>
		</div>
