<div ng-controller="visitorUserCtrl" layout="column" ng-cloak>
	
	<md-toolbar class="bg-secondary">
		  <div class="md-toolbar-tools">
		    <md-button class="md-icon-button" aria-label="Settings">
		      <md-icon md-svg-icon="logo2"></md-icon>
		    </md-button>

		    <h2 flex md-truncate>ESSENCE</h2>

		    <md-button aria-label="Login" ng-click="logout()">
		      <span>Logout&nbsp;<md-icon md-svg-icon="assets/img/svg/solid/sign-out-alt.svg" class="s12"></md-icon></span>
		    </md-button>
		  </div>
	</md-toolbar>
	
	</div>	
		<div class="jumbotron ct-content-color" >

				<h3>ÁREA DO VISITANTE</h3>

			  	<ct-menus>
			  		<ct-menu-header title="Definições de Usuários">
				  		<ct-menu title="Cadastros">
					  		<ct-menu-content href="#" item="Lista de Usuários"></ct-menu-content>
					  		<ct-menu-content href="#" icon="fa fa-user" item="Item do menu"></ct-menu-content>
					  		<ct-menu-content href="#" icon="fa fa-user" item="Item do menu"></ct-menu-content>
					  		<ct-menu-content href="#" icon="fa fa-user" item="Item do menu"></ct-menu-content>
					  		<ct-menu-content href="#" icon="fa fa-user" item="Item do menu"></ct-menu-content>
				  		</ct-menu>
				  		<ct-menu title="Módulos">
					  		<ct-menu-content href="#" item="Lista de Usuários"></ct-menu-content>
					  		<ct-menu-content href="#" icon="fa fa-user" item="Item do menu"></ct-menu-content>
					  		<ct-menu-content href="#" icon="fa fa-user" item="Item do menu"></ct-menu-content>
					  		<ct-menu-content href="#" icon="fa fa-user" item="Item do menu"></ct-menu-content>
					  		<ct-menu-content href="#" icon="fa fa-user" item="Item do menu"></ct-menu-content>
				  		</ct-menu>
			  		</ct-menu-header>
			  		<ct-menu-header title="Definições do Aplicativo">
				  		<ct-menu title="Configurações">
					  		<ct-menu-content href="#" item="Lista de Usuários"></ct-menu-content>
					  		<ct-menu-content href="#" icon="fa fa-user" item="Item do menu"></ct-menu-content>
					  		<ct-menu-content href="#" icon="fa fa-user" item="Item do menu"></ct-menu-content>
					  		<ct-menu-content href="#" icon="fa fa-user" item="Item do menu"></ct-menu-content>
					  		<ct-menu-content href="#" icon="fa fa-user" item="Item do menu"></ct-menu-content>
				  		</ct-menu>
			  		</ct-menu-header>
			  	</ct-menus>				



			  	<div ng-view></div>


		</div> <!-- jumbotron -->

</div> <!--  Div Controller -->

