/*Applicaton Styles*/

.app-title {
	color: #2922BB;
} 

.form-title {
	text-align: center;
	color: #2922BB;
}

.clear-div {
	margin: 0 auto;
	padding: 0px;
}

.bordered {
    border-color: rgb(212, 212, 212);
    border-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
}

.bordered-dark {
    border-color: white;
    border-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    color: white;
    background-color: #777;
}

.row-app {
	height: 60px;
	margin-top: 2px;
}

.banner-title {
    font-size: 1.6em;
    font-family: "Comic Sans MS", cursive;
    color: #1B55A6;
    text-shadow: 1px 1px #ccc, 1px 1px 2px #000;
}

.banner-buttons {
    font-size: 1.6em;
    font-family: "Comic Sans MS", cursive;
    color: #1B55A6;
    text-shadow: 1px 1px #ccc, 1px 1px 2px #000;
    padding-top: 10px;
    text-align: right;
}

.footer {
	text-align: center;
	font-size: 11px;
	color: #fff;
}

.footer-color {
	font-size: 11px;
	color: #000;
}

.forgot {
	height: auto;
	width: 250px;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 0px;
	color: red;
}

.register {
	height: auto;
	width: 240px;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 0px;
	color: blue;	
}

.valSenhaTxt {
	color: green;
	text-align: center;
}

.appNavItem {
	list-style-type: none
}

.fa-cor {
  color: white;
}

.fa-cor:hover {
  color: #333;
}

.appNavContainer {
  background-color: #787373;
  background: -webkit-linear-gradient(top, #C2C2C2, #787373);
  background:    -moz-linear-gradient(top, #C2C2C2, #787373);
  background:     -ms-linear-gradient(top, #C2C2C2, #787373);
  background:      -o-linear-gradient(top, #C2C2C2, #787373);
  background:         linear-gradient(top, #C2C2C2, #787373);
  border-bottom: 1px solid #787373;
  flex-shrink: 0;
  z-index: 2;
}

.section-height {
  height: 1000px;
}

/*Subscribe Bootstrap Styles*/

.navbar {
	margin-left: 1px;
	padding-left: 1px;
}

.table {
	margin-top: 20px;
}

.jumbotron {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
	width: 350px;
	background-color: #f4f4f4;
	margin: 0 auto;
}

.list > .jumbotron {
	width: auto;
}

.breadcrumb {
  margin : 0px;
  padding: 0px;
  background-color: transparent;
}

.breadcrumb-item > a {
  color: #eee;
}

.breadcrumb-item.active {
  color: #333;
}

.form-control {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
}

/*Subscribe AngularJS Material Styles*/

.login-modal {
	opacity: 0.5;
}

.login-form {
	margin-top: 10px;
	padding-top: 10px;
	height: auto;
}

.register-form {
	margin-top: 10px;
	padding-top: 10px;
	height: auto;
}

.app-input-container {
	margin-top: 5px;
	padding-top: 10px;
}

.layout-row {
	margin: 0 auto;
	padding: 0px;
}

.md-button {
	margin: 0px;
	height: 40px;
}

