/************
 * UTILS Menu Componete
 ************/
body.docs-body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.ct-border-icon:hover {
	border-radius: 50%;
	display: inline-block;
	height: 40px;
	width: 40px;
	border: 1px solid #000000;
	background-color: #333;
	z-index: 100;
}

.ct-border-icon {
	height: 12px;
	width: 12px;
	color: #fff;
}

.ct-content-heigth {
	height: 100vh;
	background-color: #888;
}

.ct-logedIcon {
	margin: auto 3px auto 0;
	color: white;
}

.ct-logedName {
	color: white;
	font-size: 16px;
	font-weight: 400;
	padding: 5px;
}

.ct-logedItens {
	color: white;
	font-size: 15px;
	padding-left: 5px;
}

.ct-logedLogout {
	color: white;
	font-size: 16px;
	font-weight: 400;
	padding-left: 20px;
}

.ct-logedDivider {
	border-color: white;
	padding-bottom: 2px;
}

.ct-content-color {
	font-family: Roboto !important;
	color: yellow !important;
	background-color: #787373 !important;
}

.ct-menu-title {
	font-family: inherit;
	cursor: pointer;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
}

.ct-menu-title-link {
	width: 100%;
	padding: 0px;
	padding-bottom: 10px;
}

.ct-menu-title-header {
	display: block;
	font-size: 1.13em;
	line-height: 32px;
	margin: 0;
	padding-left: 4px;
	text-align: left;
	width: 100%;
	color: rgba(255, 255, 255, 0.54);	
}

.ct-menu-header-content {
	font-family: inherit;
	background: transparent;
	margin: 0px;
	overflow: hidden;
	position: relative;
	padding: 0px;
	z-index: 1;
}

.ct-animate-slide.ng-hide {
	-webkit-transition: all linear 0.7s;
	   -moz-transition: all linear 0.7s;
	    -ms-transition: all linear 0.7s;
	     -o-transition: all linear 0.7s;
	        transition: all linear 0.7s;
	opacity: 0;
	height: 0;
}

.ct-animate-slide.ng-hide-add,
.ct-animate-slide.ng-hide-remove {
	-webkit-transition: all linear 0.7s;
	   -moz-transition: all linear 0.7s;
	    -ms-transition: all linear 0.7s;
	     -o-transition: all linear 0.7s;
	        transition: all linear 0.7s;
}

.ct-menu-content {
	font-family: inherit;
	background-color: rgba(120,115,115,.2);
	margin: 0px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.ct-menu-item {
	font-family: inherit;
	list-style-type:none;
	font-size: 13px;
	text-align: left;
}

.ct-icon {
	color: inherit;
	font-style: inherit;
	font-weight: normal;
}

a.ct-menu-link:link {
	text-decoration: none;
	padding-left-left: 30px;
}

a.ct-menu-link:hover {
	opacity: 0.5;
	background-color: #333;
	display: block;
}

a.ct-menu-link {
	color: white;
	font-size: 13px;
	text-rendering: optimizeLegibility;
	font-weight: 500;
	padding: 8px 20px;
}

.ct-menu-link {
	color: white;
	font-size: 13px;
	text-rendering: optimizeLegibility;
	font-weight: 500;
}

.ct-menu-item {
  transition: all 0.3s linear;
  color: #616161;
}

.ct-toggle-icon.toggled {
	display: block;
	margin-left: auto;
	speak: none;
	vertical-align: middle;
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		 -o-transform: rotate(180deg);
	      	transform: rotate(180deg);

	transition: -webkit-transform 0.3s ease-in-out;
	transition:    -moz-transform 0.3s ease-in-out;
	transition: 	-ms-transform 0.3s ease-in-out;
	transition: 	 -o-transform 0.3s ease-in-out;
	transition: 		transform 0.3s ease-in-out;
}

.ct-toggle-icon {
	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		 -o-transform: rotate(0deg);
	        transform: rotate(0deg);
	transition: -webkit-transform 0.3s ease-in-out;
	transition:    -moz-transform 0.3s ease-in-out;
	transition: 	-ms-transform 0.3s ease-in-out;
	transition: 	 -o-transform 0.3s ease-in-out;
	transition: 		transform 0.3s ease-in-out;

}


md-content.demo-source-container {
  background-color: transparent;
  border: none;
}
.demo-container > md-tabs {
  border-radius: 0;
}
md-content.demo-source-container > hljs,
md-content.demo-source-container > hljs > pre,
md-content.demo-source-container > hljs > pre > code.highlight {
  min-height: 100%;
}

/************
 * UTILS Doc Material SideNav
 ************/
.nav-header {
	background-color: #787373;
	background: -webkit-linear-gradient(top, #C2C2C2, #787373);
	background:    -moz-linear-gradient(top, #C2C2C2, #787373);
	background:     -ms-linear-gradient(top, #C2C2C2, #787373);
	background:      -o-linear-gradient(top, #C2C2C2, #787373);
	background:         linear-gradient(top, #C2C2C2, #787373);
	border-bottom: 1px solid #787373;
	flex-shrink: 0;
	z-index: 2;
}

.site-sidenav {
	background: #787373;
}
.site-sidenav md-content {
	background: transparent;
}
.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
	width:     272px;
	min-width: 272px;
	max-width: 272px;
}
.site-sidenav > * {
	min-width: 218px;
}

/************
 * UTILS Doc Material Logo
 ************/
.docs-logo {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0 16px;
	margin: 0 auto;
}

.docs-logo:focus {
	outline: none;
}

.docs-logo > img {
	margin-top: 19px;
	height: 120px;
	width: auto;
	display: block;
	-webkit-transform-origin: 50% 0;
		 -moz-transform-origin: 50% 0;
		  -ms-transform-origin: 50% 0;
		   -o-transform-origin: 50% 0;
	      transform-origin: 50% 0;
	-webkit-transform-origin: scale(1.2);
		 -moz-transform-origin: scale(1.2);
		  -ms-transform-origin: scale(1.2);
		   -o-transform-origin: scale(1.2);
	      transform-origin: scale(1.2);
}

.docs-logotype {
	color: white;
	text-align: center;
	font-weight: 400;
	font-size: 26px;
	margin-bottom: 1rem;
	margin-top: 30px;
}

.md-toolbar-tools {
	height: 60px;
	font-weight: normal;
}


/************
 * UTILS skip-links
 ************/
ul.skip-links li {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.skip-links li a {
	background-color: #fff;
	display: block;
	margin: 0.5em 0 0.5em 0.5em;
	opacity: 0;
	left: 0;
	position: absolute;
	text-decoration: none;
	top: 0;
	width: 92%;
	transition: opacity   0.15s linear;
}

ul.skip-links li a:focus {
	background-color: #fff !important;
	opacity: 1;
	z-index: 2;
}
  
/************
 * UTILS docs-menu
 ************/
.docs-menu,
.docs-menu ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.docs-menu li {
  margin: 0;
}
.docs-menu > li:nth-child(1) {
  border-top: none;
}

.md-whiteframe-glow-z1 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 0px 2px 2px rgba(0, 0, 0, 0.098),
              0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.docs-menu > li {
  border-bottom: 1px solid #c2c2c2;
}

.docs-menu .md-button {
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

html[dir=rtl] .docs-menu .md-button,
body[dir=rtl] .docs-menu .md-button {
  unicode-bidi: embed;
  text-align: right;
}

.docs-menu .md-button:hover,
.docs-menu .md-button:focus {
  background: #666 !important;
}

.docs-menu .md-button md-icon {
  color: white;
}

.docs-toolbar-tools .md-button md-icon {
  color: #666 !important;
  fill: #666 !important;
}

.docs-menu md-select {
  margin: 0;
  width: 100%;
}

.docs-menu md-select md-select-label {
  justify-content: flex-end;
  padding-top: 10px;
}

.docs-menu md-select md-select-label span {
  margin-right: auto;
  padding-left: 13px;
}

.docs-menu md-select .md-select-icon {
  margin-right: 28px;
}

.docs-menu button.md-button::-moz-focus-inner {
  padding: 0;
}

.docs-menu .md-button.active {
  background: #666;
}

.menu-heading {
  display: block;
  line-height: 32px;
  margin: 0;
  padding: 8px 16px 0;
  text-align: left;
  width: 100%;
  color: rgba(255, 255, 255, 0.54)
}

html[dir=rtl] .menu-heading,
body[dir=rtl] .menu-heading {
  unicode-bidi: embed;
  text-align: right;
}

.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 0;
}

.docs-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.parent-list-item:last-child {
  margin-bottom: 20px;

  /* Prevent the hidden License link from causing a double bottom-border */
  border-bottom: none;
}

.md-button-toggle .md-toggle-icon {
  display: block;
  margin-left: auto;
  speak: none;
  vertical-align: middle;
  -webkit-transform-origin: rotate(180deg);
     -moz-transform-origin: rotate(180deg);
    -ms-transform-origin: rotate(180deg);
     -o-transform-origin: rotate(180deg);
          transform-origin: rotate(180deg);

  transition: -webkit-transform 0.3s ease-in-out;
  transition:    -moz-transform 0.3s ease-in-out;
  transition:   -ms-transform 0.3s ease-in-out;
  transition:    -o-transform 0.3s ease-in-out;
  transition:     transform 0.3s ease-in-out;
}

.md-button-toggle .md-toggle-icon .toggled {
  -webkit-transform-origin: rotate(0deg);
     -moz-transform-origin: rotate(0deg);
    -ms-transform-origin: rotate(0deg);
     -o-transform-origin: rotate(0deg);
          transform-origin: rotate(0deg);
}/* End Docs Menu */

