	<div ng-controller="adminUserCtrl" layout="column" ng-cloak>
	  <md-toolbar class="bg-transparent glyphicon-text-color">
	  	  <div class="md-toolbar-tools">
	  	    <md-button class="md-icon-button" aria-label="Settings">
	  	      <md-icon md-svg-icon="logo2"></md-icon>
	  	    </md-button>

	  	    <h2 flex md-truncate>ESSENCE</h2>

	  	    <md-button aria-label="Login" ng-click="logout()">
	  	      <span>Logout&nbsp;<md-icon md-svg-icon="assets/img/svg/solid/sign-out-alt.svg" class="s12"></md-icon></span>
	  	    </md-button>
	  	  </div>
	  </md-toolbar>
	  	<br>
	  </md-toolbar>

	  <div ng-controller="adminUserCtrl"></div>
	  <h1 style="color: white">ÁREA DO ADMINISTRADOR</h1>
	  <nav class="fixed-bottom text-center footer">

		  <md-content md-scroll-y layout="row" flex class="bg-transparent footer">

		    <div layout="row" flex="noshrink" layout-align="center center">
		      <div id="license-footer" flex>
		        Desenvolvido por <a ng-href="http:\\www.cgctec.com.br" target="_blank" class="md-secondary">CGC Tecnologia Ltda</a>.&nbsp;&copy;&nbsp;2017&nbsp;-&nbsp;&nbsp;{{ano | date:'yyyy'}}.&nbsp;
		        Código licenciado sob o <a ng-href=""  class="md-accent">MIT License</a>.
		      </div>
		    </div>

		  </md-content>
	  </nav>
	</div>

